#!/bin/bash
# chkconfig: 2345 90 90
# description: cdh.service ....

server=/opt/cm-5.*/etc/init.d/cloudera-scm-server
cmd=$1

case $1 in
  start)  	  $server start   ;;
  stop)   	  $server stop    ;;
  status) 	  $server status  ;;
  restart) 	  $server restart ;;
  * )	        echo "Usage :   $server start|restart|stop|status"
esac