{
  "refName": "HBASE-1",
  "serviceType": "HBASE",
  "serviceConfigs": [
    {
      "name": "hdfs_service",
      "ref": "HDFS-1"
    }, {
      "name" : "hbase_security_authentication",
      "value" : "simple",
    }, {
      "name": "zookeeper_service",
      "ref": "ZOOKEEPER-1"
    } 
  ],
  "roleConfigGroups": [
    {
      "refName": "HBASE-1-MASTER-BASE",
      "roleType": "MASTER",
      "configs": [{
                      "name": "hbase_master_java_heapsize",
                      "variable": "HBASE_MASTER_JAVA_HEAPSIZE"
                    }],
      "base": true
    }, {
      "refName": "HBASE-1-REGIONSERVER-BASE",
      "roleType": "REGIONSERVER",
      "configs": [{
                        "name": "hbase_regionserver_java_heapsize",
                        "variable": "HBASE_REGIONSERVER_JAVA_HEAPSIZE"
                  }],
      "base": true
    }, {
      "refName": "HBASE-1-HBASETHRIFTSERVER-BASE",
      "roleType": "HBASETHRIFTSERVER",
      "configs": [{
                      "name": "hbase_thriftserver_java_heapsize",
                      "variable": "HBASE_THRIFTSERVER_JAVA_HEAPSIZE"
                }],
      "base": true
    }, {
      "refName": "HBASE-1-HBASERESTSERVER-BASE",
      "roleType": "HBASERESTSERVER",
      "configs": [],
      "base": true
    }
  ]
}